/*Global style*/

*{
    font-family: Bebas Neue, sans-serif;
}

/*Paragraph*/

p{
    font-family: Avenir, sans-serif;
}

#hero-img{
    background: url("../images/About.png") no-repeat center center/cover;
    height: 300px;
}