/*Global style*/

*{
    font-family: Bebas Neue, sans-serif;
}

/*Paragraph*/

p{
    font-family: Avenir, sans-serif;
    color: white;
}

/*H2 Elements*/

h2{
    color: white;
    text-align: center;
    padding-top: 10px;
}

/*Hero Elements*/

/*Main image on page*/
#hero-img{
    background: url("../images/About.png") no-repeat center center/cover;
    min-height: 300px;
}

/*Badges*/

/*This controls the layout of the badge column container*/
.col{
    padding: 10px 50px;
    max-width: 100%;
    
    
}

/*This controls the styling and position of the badges*/
#badges{
    position: absolute;
    top: 312px;
    padding: 10px 30%;
    width: 100%;
    background-color: #8fa0a689;
    color: white;
}

/*Main body of text under hero image*/
#hero-txt{
    background: url('../images/main\ img_bg.png')no-repeat center center/cover;
    position: relative;

    padding: 20px 2rem;
    text-align: justify;
    letter-spacing: 0.1px;
}
/*Adds a layer on top of the hero-text*/
#smokescreen{
    position: relative;
    background-color: #3d4143ae;
    height: auto;
    width: 100%;
    left: 0;
    padding: 20px 2rem;
    text-align: justify;
    letter-spacing: 0.1px;
    
}

/*Footer*/

#footer-text{
    font-family: Bebas Neue, sans-serif;
}


/* Blue colour you like: #4E8C98; */


/*For screens over width of 576px*/
@media only screen and (max-width: 576px) {
    

  }